

image {
  display: block;
}

/** flex */
.flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-bottom {
  display: flex;
  align-items: flex-end;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  justify-content: space-around;
}

.flex-1 {
  flex: 1;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


input,
textarea {
  font-family: PingFang SC!important;
}

.container {
  background-color: #f5f6f7;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}
