@font-face {
  font-family: "shuliao"; /* Project id 3003018 */
  src: url('//at.alicdn.com/t/font_3003018_6ahiavgnco.woff2?t=1654500972140') format('woff2'),
       url('//at.alicdn.com/t/font_3003018_6ahiavgnco.woff?t=1654500972140') format('woff'),
       url('//at.alicdn.com/t/font_3003018_6ahiavgnco.ttf?t=1654500972140') format('truetype');
}

.shuliao {
  font-family: "shuliao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shouqijianpan:before {
  content: "\e7ab";
}

.icon-L-bianji1:before {
  content: "\e6cb";
}

.icon-L-tianjia1:before {
  content: "\e6ca";
}

.icon-L-xiaojiantou:before {
  content: "\e6c9";
}

.icon-F-guanbi1:before {
  content: "\e6c6";
}

.icon-L-gengduo:before {
  content: "\e6c5";
}

.icon-L-shanchu1:before {
  content: "\e6c4";
}

.icon-L-tixing1:before {
  content: "\e6c2";
}

.icon-L-beizhu:before {
  content: "\e6c7";
}

.icon-L-yongyao:before {
  content: "\e6c8";
}

.icon-L-huishan:before {
  content: "\e6c1";
}

.icon-L-xiaoxi:before {
  content: "\e668";
}

.icon-L-fangdajing:before {
  content: "\e666";
}

.icon-F-xiangji1:before {
  content: "\e6be";
}

.icon-L-xiajiantou:before {
  content: "\e6bf";
}

.icon-L-rili:before {
  content: "\e6c0";
}

.weixinzhifu:before {
  content: "\e6bd";
}

.icon-L-MONEY:before {
  content: "\e6bc";
}

.icon-L-service:before {
  content: "\e6bb";
}

.icon-L-daoxu:before {
  content: "\e6b9";
}

.icon-L-zhengxu:before {
  content: "\e6ba";
}

.icon-L-shouye:before {
  content: "\e6b7";
}

.icon-L-wode:before {
  content: "\e6b8";
}

.icon-F-shouye:before {
  content: "\e6b5";
}

.icon-F-wode1:before {
  content: "\e6b6";
}

.icon-F-yang1:before {
  content: "\e667";
}

.icon-L-wancheng:before {
  content: "\e69d";
}

.icon-L-shezhi:before {
  content: "\e69b";
}

.icon-L-dianhua:before {
  content: "\e69c";
}

.icon-F-jiantou-chengse:before {
  content: "\e69a";
}

.icon-L-jiantou-chengse:before {
  content: "\e699";
}

.icon-L-mima:before {
  content: "\e649";
}

.icon-L-tianjia:before {
  content: "\e663";
}

.icon-L-shoujihao:before {
  content: "\e664";
}

.icon-L-yanzheng:before {
  content: "\e665";
}

.icon-F-xuetang1:before {
  content: "\e662";
}

.icon-L-kapian:before {
  content: "\e660";
}

.icon-L-zhengjian:before {
  content: "\e661";
}

.icon-F-zanting:before {
  content: "\e65f";
}

.icon-F-zhengchang:before {
  content: "\e65b";
}

.icon-F-bofang:before {
  content: "\e65c";
}

.icon-F-guanbi:before {
  content: "\e65d";
}

.icon-F-yichang2:before {
  content: "\e65e";
}

.icon-F-duigou:before {
  content: "\e633";
}

.icon-F-fuzhen:before {
  content: "\e634";
}

.icon-F-jiantou1-you:before {
  content: "\e635";
}

.icon-F-jiantou1-xia:before {
  content: "\e636";
}

.icon-F-jiantou1-zuo:before {
  content: "\e637";
}

.icon-F-fengxianguanli:before {
  content: "\e638";
}

.icon-F-shangsheng:before {
  content: "\e639";
}

.icon-F-jingqiliuliang:before {
  content: "\e63a";
}

.icon-F-rili:before {
  content: "\e63b";
}

.icon-F-jingqi:before {
  content: "\e63c";
}

.icon-F-gengduo:before {
  content: "\e63d";
}

.icon-F-suifang:before {
  content: "\e63e";
}

.icon-F-pailuan:before {
  content: "\e63f";
}

.icon-F-shenghuofuwu:before {
  content: "\e640";
}

.icon-F-renwu:before {
  content: "\e641";
}

.icon-F-tongjing:before {
  content: "\e642";
}

.icon-F-tizhong:before {
  content: "\e643";
}

.icon-F-wode:before {
  content: "\e644";
}

.icon-F-shoucang:before {
  content: "\e645";
}

.icon-F-xiajiang:before {
  content: "\e646";
}

.icon-F-jiantou1-shang:before {
  content: "\e647";
}

.icon-F-xueya:before {
  content: "\e648";
}

.icon-F-tiwen:before {
  content: "\e64a";
}

.icon-F-xiangji:before {
  content: "\e64b";
}

.icon-F-gerenxinxi:before {
  content: "\e64c";
}

.icon-F-yinliuguan:before {
  content: "\e64d";
}

.icon-F-shezhi:before {
  content: "\e64e";
}

.icon-F-xinqing:before {
  content: "\e64f";
}

.icon-F-yinshi:before {
  content: "\e650";
}

.icon-F-yongyao:before {
  content: "\e651";
}

.icon-F-yinshui:before {
  content: "\e652";
}

.icon-F-yongyaotixing:before {
  content: "\e653";
}

.icon-F-tiwei:before {
  content: "\e654";
}

.icon-F-yichang:before {
  content: "\e655";
}

.icon-F-zhishi:before {
  content: "\e656";
}

.icon-F-zhoubao:before {
  content: "\e657";
}

.icon-F-zhengzhuang:before {
  content: "\e658";
}

.icon-F-yuebao:before {
  content: "\e659";
}

.icon-F-yundong:before {
  content: "\e65a";
}

.icon-L-bianji:before {
  content: "\e620";
}

.icon-L-guanbi:before {
  content: "\e621";
}

.icon-L-jiantou2-shang-2:before {
  content: "\e622";
}

.icon-L-jiantou2-shang-1:before {
  content: "\e623";
}

.icon-L-fankui:before {
  content: "\e624";
}

.icon-L-jiantou1-xia:before {
  content: "\e625";
}

.icon-L-jiantou2-shang:before {
  content: "\e626";
}

.icon-L-jiantou1-shang:before {
  content: "\e627";
}

.icon-L-jiantou1-you:before {
  content: "\e628";
}

.icon-L-jiantou1-zuo:before {
  content: "\e629";
}

.icon-L-jiantou2-xia:before {
  content: "\e62a";
}

.icon-L-shaixuan:before {
  content: "\e62b";
}

.icon-L-shanchu:before {
  content: "\e62c";
}

.icon-L-shoucang:before {
  content: "\e62d";
}

.icon-L-shuoming:before {
  content: "\e62e";
}

.icon-L-tixing:before {
  content: "\e62f";
}

.icon-L-xiangji:before {
  content: "\e630";
}

.icon-L-yaoxiang:before {
  content: "\e631";
}

.icon-L-shebei:before {
  content: "\e632";
}
