
$dot-color: #1677ff;
$dot-width: 6px;
$dot-height: 6px;


:root{
  // Color Palette
  --black: #000;
  --white: #fff;
  --gray-1: #f7f8fa;
  --gray-2: #f2f3f5;
  --gray-3: #ebedf0;
  --gray-4: #dcdee0;
  --gray-5: #c8c9cc;
  --gray-6: #969799;
  --gray-7: #646566;
  --gray-8: #323233;
  --red: #ee0a24;
  --blue: #1677ff;
  --orange: #ff976a;
  --orange-dark: #ed6a0c;
  --orange-light: #fffbe8;
  --green: #07c160;

  // Gradient Colors
  --gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
  --gradient-orange: linear-gradient(to right, #ffd01e, #ff8917);

  // Component Colors
  --primary-color: var(--blue);
  --success-color: var(--green);
  --danger-color: var(--red);
  --warning-color: var(--orange);
  --text-color: var(--gray-8);
  --text-color-2: var(--gray-6);
  --text-color-3: var(--gray-5);
  --active-color: var(--gray-2);
  --active-opacity: 0.6;
  --disabled-opacity: 0.5;
  --background: var(--gray-1);
  --background-2: var(--white);
  --background-3: var(--white);

  // Padding
  --padding-base: 4px;
  --padding-xs: 8px;
  --padding-sm: 12px;
  --padding-md: 16px;
  --padding-lg: 24px;
  --padding-xl: 32px;

  // Font
  --font-bold: 600;
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --line-height-xs: 14px;
  --line-height-sm: 18px;
  --line-height-md: 20px;
  --line-height-lg: 22px;
  /* stylelint-disable */
  --base-font: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  --price-font: avenir-heavy, 'PingFang SC', helvetica neue, arial,
    sans-serif;
  /* stylelint-enable */

  // Animation
  --duration-base: 0.3s;
  --duration-fast: 0.2s;
  --ease-out: ease-out;
  --ease-in: ease-in;

  // Border
  --border-color: var(--gray-3);
  --border-width: 1px;
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-max: 999px;
}

.theme-dark {
  --text-color: #f5f5f5;
  --text-color-2: #707070;
  --text-color-3: #4d4d4d;
  --border-color: #3a3a3c;
  --active-color: #3a3a3c;
  --background: #000;
  --background-2: #1c1c1e;
  --background-3: #37363b;
}
